**/dataset/** filter=lfs diff=lfs merge=lfs -text

assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3501.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3501.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3503.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3503.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3505.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3505.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3507.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3507.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3509.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3509.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3511.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3511.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3513.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3513.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3515.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3515.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3517.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3501/20170519[[:space:]]TM[[:space:]]FScon3517.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3601.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3601.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3603.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3603.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3605.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3605.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3607.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3607.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3609.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3609.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3611.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3611.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3613.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3613.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3615.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3615.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3617.wiff filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/20170519[[:space:]]TM[[:space:]]FScon3601/20170519[[:space:]]TM[[:space:]]FScon3617.wiff.scan filter=lfs diff=lfs merge=lfs -text
assays/dilutionSeries_Chlamy/dataset/.gitkeep filter=lfs diff=lfs merge=lfs -text
runs/20170519[[:space:]]TM[[:space:]]FScon3501.psm filter=lfs diff=lfs merge=lfs -text
studies/Chlamy_JGI5_5Cp_Mp_gen.fasta filter=lfs diff=lfs merge=lfs -text